<div id="loading-bar">
    <div class="loading-pole"></div>
</div>

<header>
    <h1 class="logo-barber">Barberflow</h1>
    <div class="barber-pole"></div>

    <nav class="menu">
        <a routerLink="/home">Home</a>
        <a routerLink="/login">Login</a>
        <a routerLink="/cadastro">Cadastro</a>
        <a routerLink="/sobre">Sobre</a>
    </nav>
</header>

<div id="corpo-home">
    <h2>Barberflow: A solução inteligente para sua Barberia!</h2>

    <p>
        O BarberFlow é uma solução completa desenvolvida para modernizar a gestão de barbearias...
    </p>
</div>

<footer>
    © Barberflow - 2025
</footer>
