<div id="loading-bar">
    <div class="loading-pole"></div>
</div>

<header>
    <h1>Barberflow</h1>

    <nav class="menu">
        <a routerLink="/home">Home</a>
        <a routerLink="/login">Login</a>
        <a routerLink="/cadastro">Cadastro</a>
        <a routerLink="/sobre">Sobre</a>
    </nav>
</header>

<div id="login-box">
    <h2>Bem-vindo ao Barberflow</h2>
    <p>Insira seus dados de login para prosseguir:</p>

    <form>
        <label for="login">Login: </label>
        <input type="text" id="login" placeholder="nome@exemplo.com"><br><br>

        <label for="senha">Senha:</label>
        <input type="password" id="senha"><br><br>

        <button type="submit">Entrar</button>
    </form>

    <p>
        Não possui uma conta?
        <a routerLink="/cadastro">Crie sua conta agora!</a>
    </p>
</div>

<footer>
    © Barberflow - 2025
</footer>
