<div class="container">
  <div class="card">

    <h2>Criar Conta</h2>
    <p>Preencha seus dados para começar</p>
    
    <div class="form-group">
      <label for="name">Nome Completo</label>
      <input type="text" id="name" [(ngModel)]="userData.name" placeholder="Seu Nome">
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email" id="email" [(ngModel)]="userData.email" placeholder="seu@email.com">
    </div>

    <div class="form-group">
      <label for="password">Senha</label>
      <input type="password" id="password" [(ngModel)]="userData.password" placeholder="Crie uma senha forte">
    </div>

    <button type="button" (click)="cadastrar()">Cadastrar</button>

    <div class="footer">
      Já tem conta? <a routerLink="/login">Fazer Login</a>
    </div>
  </div>
</div>